@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: aliceblue;
    position: relative;
    width: 100vw;
    height: 80px;
}

header .logo img{
    width: 110px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 46%;
    top: 50%;
}